
.favorite {
    .glyphicon-heart {
        color: black;
        font-size: 16px;
    }
}
.glyphicon-heart {
    color: gray;
}

.item {
    .thumbnail {
        border: none;
        .row {
            .container-item {
                display: inline-block;
                width: 100%;
                .container-left {
                    float: left;
                    padding-left: 15px;
                }
                .container-rigth {
                    float: right;
                    padding-right: 15px;
                }
            }
        }
        .price {
            color: green;
        }
    }
}

@media only screen and (max-width: 767px) {
  #slide-navbar-collapse {
    position: fixed;
    top: 0;
    left: 15px;
    z-index: 99;
    width: 280px;
    height: 100%;
    background-color: #ddd;
    overflow: auto;
  }
  .menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
  }
}
